{% extends "base.html" %}

{% block title %}CountAi-DashBoard{% endblock %}

{% block heading %}CountAi DashBoard{% endblock %}

{% block content %}
    <h3>Total Number of Mills: {{ mills|length }}</h3>
    

    

    
    <div class="card-container" >
        {% for index, row in mills.iterrows() %}
            <div class="card" >
                {% if row["lastactive"] <= lh_time %}

                    <img src="{{ url_for('static', path='/Image/material-symbols-mode-off-on-2.svg') }}" class="card-img-top"
                        alt="..." width="500" height="150">
                {% else %}
                    <img src="{{ url_for('static', path='/Image/material-symbols-mode-off-on-4.svg') }}" class="card-img-top"
                    alt="..." width="500" height="150">
                {% endif %}      
                <div class="card-body"  > 
                    <h5 class="card-title" style="text-align: center; padding-bottom:2rem;">{{ row["millName"] }}</h5>
                    
                    <p>Today's Count: {{ row["conetip_total"] + row["uv_total"]  }}</p>
                    <p>Today's UV - Defect: {{ row["uv_Defect"] }}</p>
                    <p>Today's ConeTip - Defect: {{ row["conetip_Defect"] }}</p>
                    <p>Today's UV_Defect %:  {{ row["defectPercen_UV"] }}</p>
                    <p>Today's CT_Defect %: {{ row["defectPercen_CT"] }}</p>
                    <p class="card-text">Last inspection at: {{ row["lastactive"][:19] }}</p>
                    
                    <div style="display: flex; gap: 10px;">
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottom{{ index }}" aria-controls="offcanvasBottom{{ index }}" >View Mill Details</button>
                        <a href="/uptime/{{ row["millName"] }}">
                            <button href="/uptime/{{ row["millName"] }}" class="btn btn-primary" type="button" id="customButton{{ index }}">CurrentDay Uptime</button>
                        </a>
                    </div>
                    
                    <!-- Replace the existing <a> element -->
                    


                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom{{ index }}"
                        aria-labelledby="offcanvasBottomLabel{{ index }}">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel{{ index }}">Overview </h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <h1>Mill Data: <img src="" alt=""></h1>
                            <div class="badge bg-primary text-wrap" style="width: 12rem; height:3rem; padding-top:1rem; "><p>Mill Name : {{ row.millName }}</p></div>                            
                            <div class="badge bg-secondary text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>Total Count : {{ row["conetip_total"] + row["uv_total"] }}</p></div>
                            <div class="badge bg-danger  text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>Uv_Defect : {{ row["uv_Defect"] }}</p></div>
                            <div class="badge bg-success text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>Uv_Nondefect : {{ row["uv_Nondefect"] }}</p></div>
                            <div class="badge bg-danger  text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>Conetip_Defect : {{ row["conetip_Defect"] }}</p></div>
                            <div class="badge bg-success text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>Conetip_Nondefect : {{ row["conetip_Nondefect"] }}</p></div>
                            <div class="badge bg-secondary  text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p> Conetip_Count : {{ row["conetip_total"] }}</p></div>
                            <div class="badge bg-secondary  text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p> Uv_Count : {{ row["uv_total"] }}</p></div>
                            <div class="badge bg-success text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>lastconetip_AT : {{ row["last_ctAt"] }}</p></div>
                            <div class="badge bg-success text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>lastuvtip_AT : {{ row["last_uvAt"] }}</p></div>
                            <div class="badge bg-info  text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>tip_Alrmstatus : {{ row["tip_Alrmstatus"] }}</p></div>
                            <div class="badge bg-info text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>tip_Alrmstatus_fromtime : {{ row["tipstatus_fromtime"] }}</p></div>
                            <div class="badge bg-info  text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>Uv_Alrmstatus : {{ row["uv_Alrmstatus"] }}</p></div>
                            <div class="badge bg-info text-wrap" style="width: 12rem; height:3rem; padding-top:1rem;"><p>Uv_Alrmstatus fromtime : {{ row["uvstatus_fromtime"] }}</p></div>
                            <div class="badge bg-info    text-wrap" style="width: 12rem; height:3rem; padding-top:1rem; "><p>last inspectionOn : {{ row["lastactive"] }}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

